.withdrawal_coin_dropbox,
.withdrawal_network_dropbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 60px;
    max-width: 570px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 17px 20px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
    margin-top: 17px;
}

.withdrawal_coin_dropbox::after,
.withdrawal_network_dropbox::after
{
    content: "\e901";
    position: absolute;
    top: 24px;
    right: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "icomoon";
    font-size: 7px;
}

.withdrawal_coin_dropbox h4,
.withdrawal_network_dropbox h4
{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    margin-left: 14px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
}

.withdrawal_coin_dropbox span img {
    width: 26px;
    height: 26px;
}


.withdrawal_coin_dropdown_sect,
.withdrawal_network_dropdown_sect
{
    position: relative;
}

.withdrawal_coin_drop_list,
.withdrawal_network_drop_list
{
    position: absolute;
    width: 100%;
    top: 102px;
    left: 0;
    z-index: 1;
    display: none;
}

.withdrawal_coin_drop_list ul,
.withdrawal_network_drop_list ul
{
    background: #1e1f35;
    max-width: 570px;
    width: 100%;
}

.withdrawal_coin_drop_list ul li,
.withdrawal_network_drop_list ul li
{
    font-family: Inter;
    font-style: normal;
    font-weight: 499;
    font-size: 15px;
    line-height: 44px;
    color: rgba(254, 255, 255, 0.7);
    height: 41px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}

.withdrawal_coin_drop_list ul li:hover,
.withdrawal_network_drop_list ul li:hover
{
    color: #FFFFFF;
}

.input__group label {
    font-family: unset;
}

.item-button {
    cursor: pointer;
}

.red {
    color: red;
}